<p>Category</p>
<div class="row">
    <div class="col-md-3">
        <button routerLink ='/category/displaycategory' class="btn btn-dark btn-block"> DISPLAY CATEGORY</button>
                  
    </div>
    <div class="col-md-3">
        <button routerLink ="/category/searchcategory" class="btn btn-dark btn btn-block ">SEARCH CATEGORY</button>
    </div>
    <div class="col-md-3">
        <button routerLink="/category/addcategory" class="btn btn-dark btn btn-block ">ADD CATEGORY</button>
    </div>
</div>


<router-outlet></router-outlet>