<br>
<br>
<br>
<h6><div class="bg-warning display-4">Product Catalog</div></h6>
<br>
<br>
<br>
<hr>
<br>
Saumya Srivastava
<br>
Associate Software Engineer Trainee
<br>
<hr>
<div class="row">
    
    <div class="col-md-5">
        <br>
        <h1 class=" text-dark">Index</h1>
        <ol>
            <li> <a routerLink = "/home">Home</a> <br>
           
            </li>

            <li> <a routerLink = "/category">Categories</a> <br>
                a. Enter a Category.<br>
                b. List all Category.<br>
                c. Delete a Category (Enter Short Code or ID to delete)<br>
                d. Search a Category(By Id,Name)
             </li>

            <li> <a routerLink = "/product">Products</a> <br>
                a. Enter a Product.<br>
                b. List all products.<br>
                c. Delete a Product (Enter Short Code or ID to delete)<br>
                d. Search a Product(By Id,Name,ShortCode, Selling Price )
             </li>

           
            
        </ol>
    </div>


   
   
</div>

<br>


