<p>Products</p>

<div class="row">
    <div class="col-md-3">
        <button routerLink ="/product/displayproduct" class="btn btn-info btn-block">DISPLAY PRODUCTS</button>
                  
    </div>
    <div class="col-md-3">
        <button routerLink ="/product/searchproduct" class="btn btn-info btn btn-block ">SEARCH PRODUCTS</button>
    </div>
    <div class="col-md-3">
        <button routerLink="/product/addproduct" class="btn btn-info btn btn-block ">ADD PRODUCTS</button>
    </div>
</div>


<router-outlet></router-outlet>